<div class="secondary-masthead">
    <div class="container">
      <ul class="breadcrumb">
        <!-- <li><a href="#">Intranet</a> <span class="divider">/</span></li> -->
        <li class="active">Daily Report</li>
      </ul>
    </div><!-- /.container -->
  </div><!-- /.secondary-masthead -->
 
<div class="main-area dashboard">
  <div class="container">
  	
<fieldset>
            <h3><i class="icon-caret-right"></i>Working Time Log</h3>
            <div class="well">
            <div class="control-group">
              <label class="control-label" for="focusedInput">Working Day</label>
              <%= @report.workingDay %>
            <div class="control-group">
              <label class="control-label" for="focusedInput">Work Time</label>
              <div class="controls">
                <input type="text" data-provide="typeahead" class="span1 timepicker" placeholder="13:00">
                <span>to</span>
                <input type="text" data-provide="typeahead" class="span1 timepicker" placeholder="21:00">
              </div><!-- /.controls -->
            </div><!-- /.control-group -->
            <div class="control-group">
              <label class="control-label" for="focusedInput">Break Time</label>
              <div class="controls">
                <input type="text" data-provide="typeahead" class="span1 hour" placeholder="01:00">
              </div><!-- /.controls -->
            </div><!-- /.control-group -->
            </div>
          </fieldset> 
  	
</div>
</div>
