<div class="secondary-masthead">
    <div class="container">
      <ul class="breadcrumb">
        <!-- <li><a href="#">Intranet</a> <span class="divider">/</span></li> -->
        <li class="active">Add Project</li>
      </ul>
    </div><!-- /.container -->
  </div><!-- /.secondary-masthead -->
<div class="main-area dashboard">
<div class="container">
<%= render 'form' %>

<%= link_to('Listing All Projects', {:action => 'listing'})%>
</div><!-- /.container -->
</div><!-- /.main-area -->
